
#portfolio_grid_container {
      display: -ms-grid;
      display: grid;
          grid-template-areas: 'navbar'
     'the_section1'
     'the_portfolio_main'
     'sponsor_carousel'
     'homepage_about_section'
     'footer';
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }
    
    #the_section1 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      grid-area: the_section1;
      height: 250px;
      background: #ebebeb;
      font-family: 'Poppins';
      text-align: center;
      color: #636363;
    }
    
    #the_section1 h2 {
      margin-top: 70px;
      font-size: 1.8em;
    }
    
    #the_section1 h4 {
      margin-top: 10px;
    }
    
    #the_section1 a {
      color: #e1918a;
      text-decoration: none;
    }
    
    #the_portfolio_main {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      grid-area: the_portfolio_main;
      border: none;
      margin-top: 100px;
      height: 1250px;
      display: -ms-grid;
      display: grid;
          grid-template-areas: 'portfolio_header'
     'portfolio_img_section'
     'portfolio_btn';
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      overflow: hidden;
    }
    
    #the_portfolio_main img {
      width: 100%;
      height: 300px;
    }
    
    #the_portfolio_main #portfolio_header {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: portfolio_header;
      border: none;
      height: 200px;
      text-align: center;
      font-family: 'Poppins';
    }
    
    #the_portfolio_main #portfolio_header h2 {
      color: #3f3f3f;
      font-size: 1.5em;
      border-bottom: 1px solid #3f3f3f;
      margin-left: 550px;
      margin-right: 550px;
    }
    
    #the_portfolio_main #portfolio_header h2 #solid_border {
      border-bottom: 3px solid #e1918a;
    }
    
    #the_portfolio_main #portfolio_header h4 {
      color: #3f3f3f;
      margin-left: 100px;
      margin-right: 100px;
    }
    
    #the_portfolio_main #portfolio_img_section {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      grid-area: portfolio_img_section;
      border: none;
      height: 900px;
      display: -ms-grid;
      display: grid;
          grid-template-areas: 'portfolio_img_row1'
     'portfolio_img_row2'
     'portfolio_img_row3';
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }
    
    #the_portfolio_main #portfolio_img_section img {
      -webkit-transition: all 0.9s;
      transition: all 0.9s;
    }
    
    #the_portfolio_main #portfolio_img_section img:hover {
      -webkit-transition: all 0.9s;
      transition: all 0.9s;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: portfolio_img_row1;
      border: none;
      height: 300px;
      display: -ms-grid;
      display: grid;
          grid-template-areas: 'row1_img1 row1_img2 row1_img3 row1_img4';
      -ms-grid-columns: 1fr 20% 30% 1fr;
          grid-template-columns: 1fr 20% 30% 1fr;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row1 #row1_img1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: row1_img1;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row1 #row1_img2 {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      grid-area: row1_img2;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row1 #row1_img3 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: row1_img3;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row1 #row1_img4 {
      -ms-grid-row: 1;
      -ms-grid-column: 4;
      grid-area: row1_img4;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row2 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      grid-area: portfolio_img_row2;
      border: none;
      height: 300px;
      display: -ms-grid;
      display: grid;
          grid-template-areas: 'row2_img1 row2_img2 row2_img3 row2_img4';
      -ms-grid-columns: 1fr 30% 20% 1fr;
          grid-template-columns: 1fr 30% 20% 1fr;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row2 #row2_img1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: row2_img1;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row2 #row2_img2 {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      grid-area: row2_img2;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row2 #row2_img3 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: row2_img3;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row2 #row2_img4 {
      -ms-grid-row: 1;
      -ms-grid-column: 4;
      grid-area: row2_img4;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row3 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      grid-area: portfolio_img_row3;
      border: none;
      height: 300px;
      display: -ms-grid;
      display: grid;
          grid-template-areas: 'row3_img1 row3_img2 row3_img3 row3_img4';
      -ms-grid-columns: 1fr 20% 30% 1fr;
          grid-template-columns: 1fr 20% 30% 1fr;
      overflow: hidden;
      position: relative;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row3 #row3_img1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: row3_img1;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row3 #row3_img2 {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      grid-area: row3_img2;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row3 #row3_img3 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
      grid-area: row3_img3;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_img_section #portfolio_img_row3 #row3_img4 {
      -ms-grid-row: 1;
      -ms-grid-column: 4;
      grid-area: row3_img4;
      border: none;
      overflow: hidden;
    }
    
    #the_portfolio_main #portfolio_btn {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      grid-area: portfolio_btn;
      border: none;
      height: 100px;
      position: relative;
      font-family: 'Poppins';
    }
    
    #the_portfolio_main #portfolio_btn #portfolio_btn_1 {
      position: absolute;
      border: 1px solid grey;
      border-radius: 2px;
      padding: 2px 10px;
      left: 47%;
      top: 0%;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      cursor: pointer;
    }
    
    #the_portfolio_main #portfolio_btn #portfolio_btn_2 {
      position: absolute;
      border: 1px solid grey;
      border-radius: 2px;
      padding: 2px 10px;
      left: 50%;
      top: 0%;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      cursor: pointer;
    }
    
    #the_portfolio_main #portfolio_btn #portfolio_btn_3 {
      position: absolute;
      border: 1px solid grey;
      border-radius: 2px;
      padding: 2px 10px;
      left: 53%;
      top: 0%;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      cursor: pointer;
    }
    
    .portfolio_1 {
      display: none;
    }
    
    .portfolio_2 {
      display: none;
    }
    
    .portfolio_3 {
      display: none;
    }
    