button:after {
    content: '»';   
    opacity: 0;
    transition: 7.50s;
  }

  button:hover {
    width: 160px;

  }

  button:hover:after {
    opacity: 1;
    right: 10px;
  }

.container1{
    margin-top: 3em;
    display: block;
    background-color: rgba(197, 206, 206, 0.418);
    height: 30em;
    width: 30em;
}

.word{
    margin-left: 10px;
}

.icon{
     display: flex;
     flex-flow: row;  
     justify-content: center; 
     background-color: black;
     height: 30em;
     padding: 80px;
     width: 100%;
     text-align: center;
     color: #fff;
     position:;
}

.icons{
    width: 6em;
}


.container3{
    margin-top: 3em;
    margin-left: 5em;
    width: 90%;
    height: 40%;
}
.bigPorfolio{
    width:10em;
}
.paragraph{
    font-size: 20px;
}

.portfolio{
    margin-bottom: 30em;
    height: auto;
    float: right;
}
.Our_Team{
    display:block;
    background-color: aquamarine;
    height: 30em;
    width: 80em;
    margin-left: 5em;
}
.container4{
    margin-top: 35em;
    margin-left: 5em;
    width: 100%;
    height: 40%;
}

#container2 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    height: auto;
    padding: 2mm 35mm 6mm 35mm;
}

#meet_team{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    height: auto;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.teaminfo {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-top: 20px;
    width: 100%;
}

.subscribe{
    margin-left: 40em;
}


#sponsor_carousel {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: sponsor_carousel;
    height: 150px;
    border: none;
    margin-top: 20px;
    overflow: hidden;
    padding: 10px;
    background: black;
    z-index: 10000;
  }
  
  #sponsor_carousel img {
    height: 150px;
    width: 200px;
  }
  
  #sponsor_carousel .sponsor_logo {
    height: 150px;
    width: 200px;
    border: none;
    position: absolute;
    z-index: -10;
  }
  
  #sponsor_carousel #sponsor_wrapper {
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
    height: 200px;
    background: black;
    position: relative;
    z-index: -10;
  }
  
  .carousel {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    background-color: #000;
    overflow: hidden;
  }
  .carousel .subCarousel {
    -webkit-animation-name: carousel;
            animation-name: carousel;
    -webkit-animation-duration: 18s;
            animation-duration: 25s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    width: 5880px;
    position: relative;
    left: 100%;
  }
  .carousel .subCarousel img {
    margin-right: 50px;
  }
  @-webkit-keyframes carousel {
    100% {
      position: relative;
      left: -2880px;
    }
  }
  @keyframes carousel {
    100% {
      position: relative;
      left: -2880px;
    }
  }

  
@media only screen and (max-width: 768px) {
    .icon{
        display: flex;
        flex-flow: row;  
        justify-content: center; 
        background-color: black;
        height: 30em;
        padding: 80px;
        width: 1500px;
        text-align: center;
        color: #fff;
        position:;
   }
   
   .icons{
       width: 6em;
   }



}