body { }

.container1{
    margin-top: 3em;
    display: block;
    background-color: rgba(197, 206, 206, 0.418);
    height: 30em;
    width: 30em;
}

.word{
    margin-left: 10px;
}

.icon{
     display: flex;
     flex-flow: row;  
     justify-content: center; 
     background-color: black;
     height: 30em;
     padding: 80px;
     width: 100%;
     text-align: center;
     color: #fff;
     position:;
}

.icons{
    width: 6em;
}


.container3{
    margin-top: 3em;
    margin-left: 5em;
    width: 90%;
    height: 40%;
}
.bigPorfolio{
    width:10em;
}
.paragraph{
    font-size: 20px;
}

.portfolio{
    margin-bottom: 30em;
    height: auto;
    float: right;
}
.Our_Team{
    display:block;
    background-color: aquamarine;
    height: 30em;
    width: 80em;
    margin-left: 5em;
}
.container4{
    margin-top: 35em;
    margin-left: 5em;
    width: 100%;
    height: 40%;
}

#container2 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    height: auto;
    padding: 2mm 35mm 6mm 35mm;
}

#meet_team{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    height: auto;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}